{
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "indentation": 2,
    "selector-nested-pattern": "^&",
    "declaration-colon-newline-after": "always-multi-line",
    "value-list-comma-newline-after": "always-multi-line",
    "value-list-comma-space-after": "always-single-line",
    "value-list-comma-space-before": "never"
  }
}
